.history-page{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.history-page h2, h4{
    text-align: center;
    margin: 0px !important;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.history-page table,tr,th,td{
    border: 1px solid #ddd !important;
}
th,td{
    text-align: center !important;
    padding: 10px;
    text-transform: capitalize;
}
table a{
    color: rgb(3, 165, 206);
    text-decoration: none;
}
.history-page img{
    width: 70px;
    height: 100px;
}